<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8" />
  <title>友宝重新定义了便利店</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0" /> 
  <link rel="stylesheet" media="all" href="<?php echo $base_url;?>/ui/style.css" type="text/css">
</head>

<body>
  <div class="wrap">
    <header>
      <div class="logo"><a href="index.html"><img src="http://img.ubox.cn/web/img/logo/logo.png" alt="友宝" height="40"/></a></div>
      <div class="options">
      	<ul>
      		<li>搜索</li>
      		<li>菜单</li>
      	</ul>
      </div>
      <div class="clear"></div>
	    <div class="search-box">
	    	<form action="#">
	    		<input type="text" placeholder="请输入搜索条件" />
	    		<input type="submit" value="Go" />
	    	</form>
	    	<div class="clear"></div>
	    </div>
	    <nav class="vertical menu">
	    	<ul>
	            <li><a href="http://lxy.mobi/lxy-mobi-weixin/ubox/con1/">2013互联网大会微信购物区</a></li>
	            <li><a href="http://lxy.mobi/lxy-mobi-weixin/ubox/weixin/">友宝带您体验微信O2O支付</a></li>
	            <li><a href="http://lxy.mobi/lxy-mobi-weixin/ubox/">关于友宝</a></li>
        	</ul>
	    </nav>
    </header>
    
        
    <div class="content">
    <article class="underline">
			<h2>友宝重新定义了便利店</h2>
			<p>友宝，研发生产了全球首款智能售货机，以先进的技术和强大的运营实力，成为中国领先的售货机品牌。</p>
			<p>2010年冬，一个将智能网络应用在自动售货机上的创想，在北京落地生根，一项伟大的事业由此拉开序幕。</p>
			<p>今天，友宝已在北京、上海、武汉、广州、深圳等地拥有包括生产、研发、运营在内的多个分支机构，运营自动售货机近万台。</p>
			<p>友宝成功运用智能系统和云技术，为传统的自动售货机注入新的活力，开启了产业变革之门。 站在时代前沿的友宝，作为以科技服务社会的高新企业，坚持开发更能满足网络时代需求的新锐产品。 并在电子商务、本地生活服务、O2O等领域进行积极的拓展，使个人消费者、合作伙伴都能够从中获益。</p>
			<p>2012年的友宝，
以智，引领自动售货行业升级
以合，集渠道之力 谋共赢之道</p>
    </article>
    </div>
    <footer>
    	<p>&copy; ubox.cn 2013.</p>
    </footer>
  </div>
 
<script src="<?php echo $base_url;?>/ui/js/jquery.min.js"></script>
<script type="text/javascript">
   window.addEventListener("load",function() {
	  // Set a timeout...
	  setTimeout(function(){
	    // Hide the address bar!
	    window.scrollTo(0, 1);
	  }, 0);
	});
   $('.search-box,.menu' ).hide();   
   $('.options li:first-child').click(function(){	
   		$(this).toggleClass('active'); 	
   		$('.search-box').toggle();        			
   		$('.menu').hide();  		
   		$('.options li:last-child').removeClass('active'); 
   });
   $('.options li:last-child').click(function(){
   		$(this).toggleClass('active');      			
   		$('.menu').toggle();  		
   		$('.search-box').hide(); 
   		$('.options li:first-child').removeClass('active'); 		
   });
   $('.content').click(function(){
   		$('.search-box,.menu' ).hide();   
   		$('.options li:last-child, .options li:first-child').removeClass('active');
   });
</script>
</body>
</html>
